@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  @apply md:w-11/12  w-full px-6  mx-auto flex flex-col h-full min-h-screen items-center relative
}

.header-link {
    @apply mx-2 relative
}

.header-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    transform: translateY(10px);
    display: block;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s width;

}

.header-link:hover:before{
    content: "";
    width: 100%;
    transition: 0.3s width;
}